.fullscreen{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.slideshow{
    background-color: red;
    height: 373px;
    width: 560px;
    overflow: hidden;
}