.hamburger{
	position:absolute;
	top:50%;
	left:6%;
  	transform:translateY(-50%);
  	z-index: 10;
}
.hamburger span{
	display:block;
	width:50px;
	height:2px;
	margin-bottom:8px;
	overflow:hidden;
	position:relative;
}
.hamburger span:last-child{
	margin:0;
}
.hamburger span:before,.hamburger span:after{
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	background-color:rgb(0, 0, 0);
}
.hamburger span:after{
	transform:translateX(0);
}

@keyframes leftBurger{
    0%{
        transform:translateX(0%);
    }
    100%{
        transform:translateX(-200%);
    }
}

@keyframes rightBurger{
    0%{
        transform:translateX(200%);
    }
    100%{
        transform:translateX(0%);
    }
}

.hamburger:hover span:after{
    animation: leftBurger 1s ease-in-out;
}
.hamburger:hover span:before{
    animation: rightBurger 1s ease-in-out;
}

.hamburger span:nth-child(2):before,.hamburger span:nth-child(2):after{
	animation-delay:75ms;
}
.hamburger span:last-child:before,.hamburger span:last-child:after{
	animation-delay:150ms;
}