.header{
    height: auto;
    width: auto;
    z-index: 8;
    display: block;
}
.header.active{
    display: none;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-height: 15vh;
    align-items: center;
    margin: auto;
    color: white;
    font-family: 'HKSemiBold';
    z-index: 8;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    list-style: none;
    z-index: 8;}

.nav-links, 
h1{
    flex: 1;
    z-index: 8;}