@font-face {
  font-family: 'IntegralCF-Bold';
  src: local('IntegralCF-Bold'), url(./fonts/IntegralCF-Bold.otf) format('truetype');
}
@font-face {
  font-family: 'HKRegular';
  src: local('HKGrotesk-Regular'), url(./fonts/HKGrotesk-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'HKSemiBold';
  src: local('HKGrotesk-SemiBold'), url(./fonts/HKGrotesk-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'HKExtraBold';
  src: local('HKGrotesk-ExtraBold'), url(./fonts/HKGrotesk-ExtraBold.ttf) format('truetype');
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  cursor: none;
}

body{
  height: 100vh;
  width: 100vw;
  background-color: #222;
}

.App{
  height: 100vh;
}

.cursor{
  width: 2.5rem;
  height: 2.5rem;
  border: 3px solid rgb(136, 136, 136);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.2s ease;
  transition-property: background, border, transform;
  transform-origin: 150% 150%;
  z-index: 6; 
}

.grow {
  transform: scale(1.5);
  background: rgb(0, 0, 0);
  border: black;

}

.linkHover{
  color: black;
}


