*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body{
  height: 100vh;
  width: 100vw;
  background-color: #222;
}

.App{
  height: 100vh;
}

.cursor{
  width: 2.5rem;
  height: 2.5rem;
  border: 3px solid rgb(136, 136, 136);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.2s ease;
  transition-property: background, border, transform;
  transform-origin: 150% 150%;
  z-index: 9; 
}

.grow {
  transform: scale(1.5);
  background: rgb(136, 136, 136);
}

.linkHover{
  color: black;
}

.scrollContainer, .hamburger{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.scrollContainer{
  right: 5%;
}